<div id="up-to-top" class="row">
  <div class="small-12 columns" style="text-align: right;">
    <a class="ai4ed-back-to-top" href="#top-of-page" aria-label="Back to top" title="Back to top">↑</a>
  </div>
</div>

<footer id="footer-content" class="bg-grau">
  <div id="footer">
    <div class="row">
      <div class="medium-5 large-5 columns">
        <h5 class="shadow-black">About AI4ED</h5>
        <p class="shadow-black">{{ site.description }}</p>
      </div>

      <div class="small-6 medium-3 large-3 large-offset-1 columns">
        <h5 class="shadow-black">Explore</h5>
        <ul class="ai4ed-footer-links">
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/background/' | relative_url }}">Getting Started</a></li>
          <li><a href="{{ '/team/' | relative_url }}">Team</a></li>
          <li><a href="{{ '/publications/' | relative_url }}">Publications</a></li>
          <li><a href="{{ '/news/' | relative_url }}">News</a></li>
          <li><a href="{{ '/questionnaire/' | relative_url }}">Questionnaire</a></li>
        </ul>
      </div>

      <div class="small-6 medium-4 large-3 columns">
        <h5 class="shadow-black">Contact</h5>
        <p class="shadow-black"><a href="mailto:info@ai4ed.ca">info@ai4ed.ca</a></p>
        <p class="shadow-black">Supported by <a href="https://schulich.ucalgary.ca/about/schulich-momentum" target="_blank" rel="noopener noreferrer">Schulich Momentum</a>.</p>
      </div>
    </div>
  </div>

  <div id="subfooter">
    <nav class="row">
      <section id="subfooter-left" class="small-12 medium-6 columns credits">
        {{ site.credits }}
      </section>

      <section id="subfooter-right" class="small-12 medium-6 columns">
        <ul class="inline-list social-icons">
        {% for social_item in site.data.socialmedia %}
          <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
        {% endfor %}
        </ul>
      </section>
    </nav>
  </div>
</footer>
