---
layout: default
format: page
---
<div class="row ai4ed-page-shell t30">
	<div class="medium-10 large-9 columns">
		<article class="ai4ed-page-panel ai4ed-page-panel--narrow" itemscope itemtype="http://schema.org/Article">
			<header class="ai4ed-page-header">
				<h1 itemprop="name">{{ page.title }}</h1>
				{% if page.subheadline %}<p class="ai4ed-page-header__meta">{{ page.subheadline }}</p>{% endif %}
			</header>

			{% if page.teaser %}<p class="teaser ai4ed-page-teaser">{{ page.teaser }}</p>{% endif %}
			<div itemprop="articleSection">
				{{ content }}
			</div>
		</article>
	</div>
</div>
